{% extends 'base.html' %}

{% block title %}Nos Produits{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Section for Displaying Products -->
    <section class="text-center py-5 mb-4 bg-light">
        <h1 class="display-4 mb-4">Découvrez les produits Apple</h1>
        <p class="lead text-muted">Explorez notre sélection exclusive de produits Apple.</p>
    </section>

    <div class="row mb-4 gy-4">
        {% for product in products %}
        <div class="col-md-4  d-flex align-items-stretch">
            <div class="card border-0 shadow-sm h-100 text-center">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 300px; object-fit: cover;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text text-muted">{{ product.description|truncatewords:15 }}</p>
                    <p class="card-text"><strong>{{ product.price }} $</strong></p>
                    <div class="mt-auto">
                        <a href="{% url 'page_detail' product.id %}" class="btn btn-outline-dark w-100 mb-2">Détails</a>
                        <form method="POST" action="{% url 'add_to_cart' product.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-dark w-100">Ajouter au panier</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Aucun produit disponible pour le moment.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
