<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Apple-Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Liens de navigation principaux -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listProducts' %}">Produits</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/admin/">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary position-relative" href="{% url 'cart' %}"> 
                        <i class="bi bi-cart4"></i>
                        <span id="cart-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ request.session.cart_count|default:0 }}
                            <span class="visually-hidden">articles dans le panier</span>
                        </span>
                    </a>
                </li>

                     <!-- Catégories dynamiques -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Catégories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                    <li><a class="dropdown-item" href="{% url 'products_by_category' category.id %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            </ul>
            
            <!-- Barre de recherche -->
            <form class="d-flex" role="search" method="GET" action="{% url 'search_results' %}">
                <input class="form-control me-2" name="query" type="search" placeholder="Rechercher un produit..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
</nav>
