body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}
  
nav ul {
    list-style-type: none;
    padding: 0;
}
  
nav ul li {
    display: inline;
    margin-right: 10px;
}
  
  
h1 {
    font-size: 3em;
}
  
.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
  
.container {
    flex: 1; 
}
main {
    margin-top: 80px; 
}
  
  
  