.products-section {
    background-image: url("../images/ipad.jpg"); /* Chemin relatif correct */
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.products-section1 {
    background-image: url("../images/mac.webp"); /* Chemin relatif correct */
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    background-image: url("../images/iphone.jpg"); /* Chemin relatif correct */
    background-size: cover;
    background-position: center;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.product-card:hover .overlay {
    opacity: 1;
}

.btn-effect {
    transition: background-color 0.3s, color 0.3s;
}

.btn-effect:hover {
    background-color: #000;
    color: #fff;
}
